body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}



#part-1{
    display: flex;
    background-image: url(deg-photo/top-banner.png);
    background-repeat: no-repeat;
    margin-bottom: 8%;
}


.box-1{
    width: 50%;
    padding-left: 5%;
    
}


.span-tag{
    color: purple;
}
.link-1{
    text-decoration: none;
    background-image: linear-gradient(pink,rgb(0, 255, 42),yellow);
    padding: 10px 30px;
    color:rgb(250, 10, 10);
    border-radius: 10px;
    border: 2px solid maroon;
}
.box-1 img{
    width: 80%;
}
h1{
    font-size: 50px;
}
#part-2{
    display: flex;
    background-image:url(deg-photo/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    
    
}
.box-2{
    width: 70%;
    padding-left:3% ;
    
  
   
}


.box-2 img{
    width: 90%;
    padding-right: 5%;
    
}

h2{
    color: mediumpurple;
    font-size: 30px;
}
#part-3{
    background-image: url(deg-photo/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    padding: 5%;
    
}
.box-3{
    display: flex;
    
}
.box-3 h3{
    color: maroon;
}
.box-3 h2{
    color: midnightblue;
}
.box-3 div{
    box-shadow: 7px 5px 50px purple;
     margin: 20px;
     height: 50%;
   
}
.box-4{
    border-left: 7px solid ;
    border-image:linear-gradient(180deg,blue,green);
    border-image-slice: 1;
    padding:10px;
    text-align: justify;
    background-color: lightcoral;

    
    
    
}
.box-5{
    border-left: 7px solid;
    border-image: linear-gradient(blue,green);
    border-image-slice: 1;
    text-align: justify;
    padding: 10px;
    background-color: lightcoral;
    
}
footer{
    text-align: center;
    color: midnightblue;
}
